

// # sourceMappingURL=main.css.map

// COLORS

  
//     grays
//             Rind Brown #7E7673
//             Rind Purple #78727c 
//             Rind Gray #636565
//     primaries
//             Avocado Flesh #FCF3B4
//             Avocado Green #d4eb86
//     secondaries
//             Seed Brown #99522f
//             Seed Orange #e27e36
//             Seed Deep Red #9D2E11 
//     blacks
//             Rind Deep Purp #604754
//             Rind Deep Brwn #4f2d0e
//             Rind Deep End #262611


// this is common to all pages


.navbar {
  .navbar-nav {
    .nav-item.active .nav-link {
      color: #FCF3B4;
      border: 1px solid #604754;
    }

    .nav-item .nav-link {
      color: #636565;
    }
      &:hover {
        background-color: #FCF3B4;
      }
      &:active {
        color: #262611;
        background-color: #FCF3B4;
      }

      &:before {

      }

      &:after {

      }
      
    }
  }
 

body {
    font-family: 'Montserrat', sans-serif;
}


h4,h5,h6 {
    font-weight: 700;

}


// BUTTONS

.btn-outline-secondary {
    background-color: transparent !important;
    border-color: #4f2d0e !important;
    color: #FCF3B4 !important;
    border-radius: 0;
    position: relative;

}

.btn-outline-secondary::before {
    content: '';
    position: absolute;
    background-color: rgb(161, 196, 48);
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 0.5s;
}

.btn-outline-secondary:hover::before {
    width: 100%;


}

.btn-secondary {
    background: #604754 !important;
    border-radius: 0;
    border-color: #4f2d0e !important;
}


.btn-secondary:hover {
    color: #99522f !important;

}


.btn-primary {
    background: #FCF3B4 !important;
    border-radius: 0;
    border-color: #604754 !important;
    color: #262611 !important;
}

.btn-primary:hover {
    background: #262611 !important;
    color: #78727c !important;
}



// NAVBAR


.navbar {
    background: #FCF3B4;
    border-bottom: 1px solid #78727c;
}





