// CS-01 REQS
//  - Sample MockUP
//  - - Home
//  - - - - hero banner 
//  - - - - carousel with 3 images
//  - - - - cards with 3 images
//  - - - - more link to home page extension
//  - - Landing Page
//  - - About Us
//  - - - - cards  
//  - - Gallery
//  - - - - modal upon click
//  - - Contact Us
//  - - - - XX
//  - - Fontawesome SocMed Links on NAV




//  - - XXXX
//  - - - - XX 
// IMAGE CREDITS
//https://unsplash.com/photos/YbgPWfWlvkE
// Photo by elizabeth lies on Unsplash


#wrapper {
    width: 200px;
    margin: 0 auto;
}



$theme-colors: (
  "primary" : #B6CAD6,
  "secondary" : #85A5B2,
  "text01" : #5A6E75,
  "white" : #DBD8F0,
  "accent-mild" : #17242D,
  "accent" : #A8A47E,
  "light-gray" : #7E9096,
  "dark-gray" : #171C2D,
  );

// bootsrap node
$border-radius: 18px;

@import '../../node_modules/bootstrap/scss/bootstrap';

// declare
$white: #DBD8F0;
$light-gray: #7E9096;
$dark-gray: #171C2D;
$accent: #A8A47E;

// this is common to all pages


.navbar {
  .navbar-nav {
    .nav-item.active .nav-link {
      color: $white;
      border: 1px solid $light-gray;
    }

    .nav-item .nav-link {
      color: $light-gray;
    }
      &:hover {
        background-color: $white;
      }
      &:active {
        color: $dark-gray;
        background-color: $white;
      }

      &:before {

      }

      &:after {

      }
      
    }
  }

// .jumbotron-cover-image {
//         position: relative;
//         background: #000 url("assets/images/fern-01.jpg") center center;
//         width: 100%;
//         height: 100%;
//         background-size: cover;
//         color: #fff;
// }


// this is specific to a page
// #page-contact-us {

// }











/* Resets */
hr {
  margin-left: 0;
  max-width: 40px;
}

/* Jumbotron (hero) */
.jumbotron {
  position: relative;
  background: url(https://source.unsplash.com/YbgPWfWlvkE) no-repeat bottom center / cover;
  
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
  
  .container {
    padding: 75px 0;
  }
  
  h1,
  .lead {
    color: #fff;
  }
}

/* Bustom button */
.btn-primary {
  background: #1096fc;
  border: 0;
  
  &:hover {
    background: darken(#1096fc, 7%);
  }
}

/* Features */
.sec-features {
  .row {    
    &:nth-of-type(n+2) {
      margin-top: 160px;
    }
    
    &:last-of-type {
      margin-bottom: 160px;
    }
  }
  
  .feature-icon {
    max-width: 150px;
  }
}

/* Testimonials */
.sec-testimonials {
  padding-top: 128px;
  padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
  bottom: -30px;

  li {
    background: rgba(33, 33, 33, .1);

    &:focus,
    &:hover {
      background: rgba(33, 33, 33, .5);
    }
  }
  
  .active {
    background: rgba(33, 33, 33, .75);
  }
}

.carousel-control-next,
.carousel-control-prev {
  & {
    color: #212121;
  }

  &:focus,
  &:hover {
    color: #111;
  }
}

/* Footer */
.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #212121;
  
  li {
    &:nth-of-type(n+2) {
      margin-left: 8px;
    }
  }
  
  a {
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
    transition: color .235s ease-in-out;
    
    &:focus,
    &:hover {
      color: rgba(255, 255, 255, .25);
    }
  }
}

.hero {
  background: #afa49c;
}






