.navbar .navbar-nav .nav-item.active .nav-link {
  color: #FCF3B4;
  border: 1px solid #604754;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #636565;
}
.navbar .navbar-nav:hover {
  background-color: #FCF3B4;
}
.navbar .navbar-nav:active {
  color: #262611;
  background-color: #FCF3B4;
}
body {
  font-family: "Montserrat", sans-serif;
}

h4, h5, h6 {
  font-weight: 700;
}

.btn-outline-secondary {
  background-color: transparent !important;
  border-color: #4f2d0e !important;
  color: #FCF3B4 !important;
  border-radius: 0;
  position: relative;
}

.btn-outline-secondary::before {
  content: "";
  position: absolute;
  background-color: #a1c430;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: 0.5s;
}

.btn-outline-secondary:hover::before {
  width: 100%;
}

.btn-secondary {
  background: #604754 !important;
  border-radius: 0;
  border-color: #4f2d0e !important;
}

.btn-secondary:hover {
  color: #99522f !important;
}

.btn-primary {
  background: #FCF3B4 !important;
  border-radius: 0;
  border-color: #604754 !important;
  color: #262611 !important;
}

.btn-primary:hover {
  background: #262611 !important;
  color: #78727c !important;
}

.navbar {
  background: #FCF3B4;
  border-bottom: 1px solid #78727c;
}

/*# sourceMappingURL=main.scss.map */
