

/* # sourceMappingURL=main.css.map

COLORS

  
     grays
             Rind Brown #7E7673
             Rind Purple #78727c 
             Rind Gray #636565
     primaries
             Avocado Flesh #FCF3B4
             Avocado Green #d4eb86
     secondaries
             Seed Brown #99522f
             Seed Orange #e27e36
             Seed Deep Red #9D2E11 
     blacks
             Rind Deep Purp #604754
             Rind Deep Brwn #4f2d0e
             Rind Deep End #262611


// CS-01 REQS
//  - Sample MockUP
//  - - Home
//  - - - - hero banner 
//  - - - - carousel with 3 images
//  - - - - cards with 3 images
//  - - - - more link to home page extension
//  - - Landing Page
//  - - About Us
//  - - - - cards  
//  - - Gallery
//  - - - - modal upon click
//  - - Contact Us
//  - - - - XX
//  - - Fontawesome SocMed Links on NAV



              */



 

body {
    font-family: 'Montserrat', sans-serif;

}

a {
    color: rgb(98, 122, 95);
    text-decoration: inherit; /* no underline */
  }


a:link{
    text-decoration: none;
}


h5,h6 {
    font-weight: 700;

}


 /* BUTTONS */

.btn-outline-secondary {
    background-color: transparent !important;
    border-color: #7f9c65 !important;
    border-width: .05rem;
    border-radius: 8;
    color: #7e7673ff !important;
    position: relative;

}

.btn-outline-secondary::before {
    content: '';
    position: absolute;
    background-color: #d4f07a;
    border-radius: 8;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 0.5s;
}

.btn-outline-secondary:hover::before {
    width: 100%;
    border-radius: 8;


}

.btn-secondary {
    background: #d6dabe !important;
    width: 210px;
    border-radius: 8;
    border-width: 1px;
    border-color: #e2deeb !important;
    color: #777741 !important;
}


.btn-secondary:hover {
    color: #cfeb9d !important;
    color: #78727c !important;
}


.btn-primary {
    align-items: center;
    background: #FCF3B4 !important;
    width: 210px;
    border-width: 1px;
    border-radius: 8;
    border-color: #e2deeb !important;
    color: #6d6d44 !important;
    text-decoration: none;
}

.btn-primary:hover {
    background: #d0f58c !important;
    color: #78727c !important;
    text-decoration: none;
}



/* NAVBAR */


.navbar {
    margin-bottom: 8px;
    background: rgb(250, 244, 208);
    border-bottom: 3px solid #f2e8f8;
    padding-bottom: 1;
}


.nav-link,
.navbar-brand {
    color: #482f52;
}


.nav-link:hover,
.navbar-brand:hover {
    color: rgb(157, 175, 52);
}

.navbar-brand {
    font-size: 1.8rem;

}


/* HOME JUMBOTRON */

.jumbotron {
    background: #fcfcf4;
    padding-top: 250px;
    padding-left: 150px;
    padding-bottom: 0px;
}



/* CALL2ACTION */

.call-to-action {
    background: #262611;
    color: #FCF3B4;
    text-decoration: none;

}


.heading-line {
    height: 3px;
    width: 10%;
    background: #78727c;


}


/*SERVICES*/

/* Added shadows to create the "card" effect */
.card {
    box-shadow: 0 30x 18px 0 rgba(70, 66, 66, 0.2);
    transition: 0.3s;
  }

  
  /* Added cards style */

.card {
    text-align: center;
    color: #77747a;
    background-color: #f1efff;
    border-radius: 30;
    padding: 30px;
    min-height: 380px;
    
  }  


  /* Added On mouse-over deeper shadow */
  .card:hover {
    box-shadow: 0 60px 36px 0 rgba(75, 73, 73, 0.2);
  }
  
  /* Added padding inside card container */
  .container {
    padding: 20px 20px;
  }


  /* Button Position */

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 90%;
    
}


/* Float three columns side by side */
.card-column {
    float: left;
    width: 30%;
    padding: 0 20px;
  }
  
  /* Removed extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Remove floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }




/*PORTFOLIO*/

.dark {
    color: #78727c;
    background: #4f2d0e;
}

.dark i {
    font-size: 1.3rem; 
    color: #4f2d0e;
}

.portfolio .img-fluid {
    height: 300px;
    object-fit: cover;
}

.portfolio .col-lg-3 {
    position: relative;
}


.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #78727c;
    opacity: 0.8;

}



/* LISTENING & SOCMED */

.listen-socmed{
    margin-top: 130px;
    text-align: center;
    color: #77747a;
    background-color: #FCFCF4;
    border-radius: 30;
    padding: 30px;
    min-height: 380px;

}

.listen-socmed-fa {
    float: left;
    height: 160px;
    padding: 15px;
    text-align: center;
}



/* CONTACT FORM */


.body-contact {
    font-family: 'Montserrat', sans-serif;
    /* background: -webkit-linear-gradient(left, rgb(58, 40, 36), #604754, #78727c, #e2d1ee, #FCF3B4); */
    background: -webkit-linear-gradient(left, #fcfbf1, rgb(255, 252, 230))
}

.contact-form{
    background-color: #f2fcd1;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 8%;
    border-radius: 10px;
}

.contact-form form{
    padding-top: 5%;
    padding-bottom: 3%;
    scroll-padding-block: 1%;
}

.form-control{
    border-radius: 10;
}

textarea{
    height: 252px !important;
    width: 100%;
}

.contact-form h3{
    margin-bottom: 5%;
    text-align: center;color: #423427;
}

.btn-contact{
    border-radius: 8px;
    border-color: #bbc795;
    padding: .5rem .75rem;
    background-color: #eae0f1;
    font-weight: 330;
    cursor: pointer;

}


/* FOOTER */

.logo-bot{
    margin-top: 210px;
}

.pre-footer{
    text: #faeeff;
    background-color: #262611;
    padding: 20px;
    vertical-align: middle;
}

.copyright{
    background-color: #262611;
    text-align: center;
    font-size: small;
    color: #857f88;
    /* margin-top: 20px; */
    padding: 0px 150px 5px 150px;

}



